@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-color: #073daa;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details img {
  width: 0;
  height: 0;
  opacity: 0;
}

.sidebar .logo-details i {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}

.sidebar.open .logo-details img {
  opacity: 1;
  width: 90%;
  height: 100%;
}

sidebar.open .logo-details i {
  font-size: 20px;
  font-weight: 600;
}

.sidebar .logo-details #ant {
  top: 50%;
  right: 0;
  transform: translateT(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5 ease;
}

.sidebar.open .logo-details #ant {
  text-align: center;
  margin-left: 3%;
}

sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .info {
  position: absolute;
  top: -20px;
  left: calc(100% + 20px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px #000;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .info {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .info {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
  color: #fff;
}

.sidebar li a i {
  margin-left: 15px;
}

.sidebar.open li a i {
  margin-right: 10%;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links-opt {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links-opt {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links-opt,
.sidebar li a:hover i {
  transition: all 0.5 ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 80px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background-color: #11101d;
  transform: all 0.5 ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-detail {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 80px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
  color: #fff;
  padding-top: 12px;
  padding-left: 26px;
}

.sidebar.open .profile #log_out {
  right: 0;
  width: 50px;
  background: none;
  padding-top: 5px;
  padding-left: 10px;
}

.home {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home {
  left: 250px;
  width: calc(100% - 250px);
}

.home .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */